/*Grilla */

.grid-container {
	display: grid;
	margin: 40px 0 40px 0;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(3,200px);
	gap: 1px 1px;
	text-align: center;
	justify-content: stretch;
	font-size: 1.5rem;
	grid-template-areas:
	"bannerUno bannerUno bannerUno bannerUno"
	"noticiaDos noticiaDos noticiaTres noticiaTres"
	"noticiaCuatro noticiaCuatro noticiaCinco noticiaCinco";
}

.bannerUno {
	grid-area: bannerUno;
	background-color: #e9e9e9;
	
}
.noticiaTres {
	grid-area: noticiaTres;
	background-color: #f3f3f3;
}
.noticiaDos {
	grid-area: noticiaDos;
	background-color: #f3f3f3;
}
.noticiaCuatro {
	grid-area: noticiaCuatro;
	background-color: #e9e9e9;
}
.noticiaCinco {
	grid-area: noticiaCinco;
	background-color: #e9e9e9;
}
